<?xml version="1.0" encoding="UTF-8"?>  
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
		 
	<!-- 系统过滤器设置start -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.GDT.Filter.CharacterEncodingFilter</filter-class>
		<!-- 设置页面编码方式 -->
		<init-param>
			<param-name>ENCODING</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		
		<!-- 设置页面无缓存 -->
		<init-param>
			<param-name>Pargma</param-name>
			<param-value>no-cache</param-value>
		</init-param>
		
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>no-cache</param-value>
		</init-param>
		
		<init-param>
			<param-name>Expires</param-name>
			<param-value>0</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 模拟网络延时的过滤器 -->
	<filter>
		<filter-name>DelayEnviromentFilter</filter-name>
		<filter-class>com.GDT.Filter.DelayEnviromentFilter</filter-class>
		
		<init-param>
			<param-name>delayTime</param-name>
			<param-value>0</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DelayEnviromentFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 系统过滤器设置end -->
	
	<servlet>
		<display-name>SchoolLoginServlet</display-name>
		<servlet-name>SchoolLoginServlet</servlet-name>
		<servlet-class>com.GDT.Servlet.SchoolLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SchoolLoginServlet</servlet-name>
		<url-pattern>/SchoolLoginServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 用户管理servlet -->
	<servlet>
		<display-name>UserManageServlet</display-name>
		<servlet-name>UserManageServlet</servlet-name>
		<servlet-class>com.GDT.Servlet.UserManageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserManageServlet</servlet-name>
		<url-pattern>/UserManageServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 学生团队管理servlet -->
	<servlet>
		<display-name>TeamManageServlet</display-name>
		<servlet-name>TeamManageServlet</servlet-name>
		<servlet-class>com.GDT.Servlet.TeamManageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeamManageServlet</servlet-name>
		<url-pattern>/TeamManageServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>VerifyCode</display-name>
		<servlet-name>VerifyCode</servlet-name>
		<servlet-class>com.GDT.util.VerifyCode</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerifyCode</servlet-name>
		<url-pattern>/VerifyCode</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>ProjectManagerServlet</display-name>
		<servlet-name>ProjectManagerServlet</servlet-name>
		<servlet-class>com.GDT.Servlet.ProjectManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectManagerServlet</servlet-name>
		<url-pattern>/ProjectManagerServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>IndexInterlizeServlet</display-name>
		<servlet-name>IndexInterlizeServlet</servlet-name>
		<servlet-class>com.GDT.Servlet.IndexInterlizeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexInterlizeServlet</servlet-name>
		<url-pattern>/IndexInterlizeServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>SchoolLogonServlet</display-name>
		<servlet-name>SchoolLogonServlet</servlet-name>
		<servlet-class>com.GDT.Servlet.SchoolLogonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SchoolLogonServlet</servlet-name>
		<url-pattern>/SchoolLogonServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 课题阶段管理 -->
	<servlet>
		<display-name>StageManageServlet</display-name>
		<servlet-name>StageManageServlet</servlet-name>
		<servlet-class>com.GDT.Servlet.StageManageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StageManageServlet</servlet-name>
		<url-pattern>/StageManageServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 课题审核处理 -->
	<servlet>
		<display-name>ProjectAuditServlet</display-name>
		<servlet-name>ProjectAuditServlet</servlet-name>
		<servlet-class>com.GDT.Servlet.ProjectAuditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectAuditServlet</servlet-name>
		<url-pattern>/ProjectAuditServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>FileManageServlet</display-name>
		<servlet-name>FileManageServlet</servlet-name>
		<servlet-class>com.GDT.Servlet.FileManageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileManageServlet</servlet-name>
		<url-pattern>/FileManageServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>GDTInitializeServlet</display-name>
		<servlet-name>GDTInitializeServlet</servlet-name>
		<servlet-class>com.GDT.Servlet.GDTInitializeServlet</servlet-class>
		
		<!-- 这个是数据库连接的配置信息start -->
		<init-param>
			<param-name>DRIVER</param-name>
			<param-value>org.gjt.mm.mysql.Driver</param-value>
		</init-param>
		
		<init-param>
			<param-name>URL</param-name>
			<param-value>jdbc:mysql://localhost:3306/gdtm?characterEncoding=utf8</param-value>
		</init-param>
		
		<init-param>
			<param-name>USER</param-name>
			<param-value>root</param-value>
		</init-param>
		
		<init-param>
			<param-name>PASSWORD</param-name>
			<param-value>anywhere</param-value>
		</init-param>
		<!-- 这个是数据库连接的配置信息end -->
		
		
		<!-- 文件处理参数对象配置start(为了后期GDT后台管理人员能够更改数据的方便) -->
		<init-param>
			<param-name>SIZETHRESHOLD</param-name>
			<param-value>1048576</param-value>
		</init-param>
		
		<!-- 文件编码方式 -->
		<init-param>
			<param-name>ENCODING</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		
		<!-- 文件缓冲大小 -->
		<init-param>
			<param-name>BUFFSIZE</param-name>
			<param-value>1024</param-value>
		</init-param>
		
		<init-param>
			<param-name>PICTURE_MAX_SIZE</param-name>
			<param-value>524288</param-value>
		</init-param>
		
		<!-- 文件最大上传大小 -->
		<init-param>
			<param-name>FILE_MAX_SIZE</param-name>
			<param-value>1048576</param-value>
		</init-param>
		
		<!-- 允许上传的图片类型 -->
		<init-param>
			<param-name>PICTURE_TYPE</param-name>
			<param-value>jpg,jpeg,gif,pbg,png,bmp</param-value>
		</init-param>
		
		<!-- 允许上传的文件类型 -->
		<init-param>
			<param-name>FILE_TYPE</param-name>
			<param-value>jpg,jpeg,gif,pbf,png,bmp,doc,txt,xls,ppt,fem,vsd,tgz,tar,gz</param-value>
		</init-param>
		<!-- 文件处理参数对象配置end -->
		<load-on-startup>2</load-on-startup>
	</servlet>
    <servlet-mapping>
        <servlet-name>GDTInitializeServlet</servlet-name>
        <url-pattern>/GDTInitializeServlet</url-pattern>
    </servlet-mapping>
	
	<!--这个是关于设置dwr的配置文件信息-->
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<!--这个是DwrServlet的初始化信息设置-->
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
            <param-name>crossDomainSessionSecurity</param-name>
            <param-value>false</param-value>
	    </init-param>
	    <init-param>
	        <param-name>allowScriptTagRemoting</param-name>
	        <param-value>true</param-value>
	    </init-param>
	</servlet>

	<!--设置dwr的虚拟路径-->
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
	  	<welcome-file>mainLogin.jsp</welcome-file>
	</welcome-file-list>
</web-app>
